```gitignore
# Виртуальное окружение Python
.venv/

# Кэш питона
__pycache__/

# Логи и временные файлы
*.log

# Файлы IDE
.vscode/

# Скомпилированные и бинарные артефакты
dist/
build/

# Инструменты
bin/

# Медиафайлы (чтобы не выложить случайно ГБ фото/видео)
*.jpg
*.jpeg
*.png
*.tif
*.tiff
*.heic
*.webp
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.3gp
*.mpeg
*.mpg
*.hevc
*.webm